@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

header {
  color: white;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
}

header .home {
  font-size: 3.8rem;
  margin: 0 auto;
}

.phone-menu {
  position: absolute;
  top: -5px;
  right: 16px;
}

.phone-menu #open {
  font-size: 3.2rem;
  line-height: 64px;
  cursor: pointer;
}

.phone-menu #open.hide {
  display: none;
}

.over-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.76);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.over-content.show {
  opacity: 1;
  pointer-events: auto;
}

.over-content.show li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.over-content #close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 3.2rem;
  cursor: pointer;
}

.over-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.over-content ul li {
  margin-top: 24px;
  font-size: 3rem;
  font-family: "arial", sans-serif;
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.pc-menu {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#about {
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0;
}

#about h1 {
  font-size: 3rem;
  font-family: "arial", sans-serif;
  margin: 50px auto;
  position: relative;
}

#about h1 .letters {
  position: absolute;
  margin: auto;
  left: 50px;
  top: -10px;
  right: 50px;
  opacity: 0;
}

#about p {
  font-size: 1.5rem;
  font-family: "arial", sans-serif;
  padding: 50px 0;
}

#who h1 {
  text-align: center;
  font-family: "Garamond", sans-serif;
  font-size: 5rem;
  -webkit-text-decoration: underline solid rgba(128, 128, 128, 0.171);
          text-decoration: underline solid rgba(128, 128, 128, 0.171);
}

#person {
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0;
}

#person h2 {
  font-size: 3rem;
  font-family: 游ゴシック, sans-serif;
  margin: 50px auto;
}

#person p {
  width: 60%;
  height: auto;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.589);
  text-align: left;
}

#hobby {
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 300px 0;
}

#hobby h1 {
  font-family: "Garamond", sans-serif;
  font-size: 5rem;
  -webkit-text-decoration: underline solid rgba(128, 128, 128, 0.171);
          text-decoration: underline solid rgba(128, 128, 128, 0.171);
}

#hobby h2 {
  font-size: 3rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  margin: 100px auto 0 auto;
}

#hobby h3 {
  font-size: 2.5rem;
  font-family: 游ゴシック, sans-serif;
  margin: 0 auto;
  padding: 100px 0 30px 0;
}

#tabletennis {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
}

#tabletennis p {
  color: rgba(128, 128, 128, 0.589);
  font-size: 1.5rem;
}

#tabletennis li {
  font-size: 1.5rem;
  list-style: none;
  margin: 40px 0;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.589);
}

#grades {
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}

#grades h4 {
  font-size: 2rem;
  margin: 50px 0 20px 0;
}

#grades li {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: rgba(128, 128, 128, 0.589);
}

#grades .best {
  -webkit-text-decoration: underline solid #418dcc;
          text-decoration: underline solid #418dcc;
}

#attention {
  width: 60%;
  height: auto;
  margin: 40px auto;
  text-align: left;
}

#game {
  color: black;
  width: 100%;
  height: auto;
}

#game p {
  width: 60%;
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.589);
  text-align: left;
  margin: 0 auto;
}

#game h4 {
  font-size: 2rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

#game li {
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  padding: 10px 0;
  list-style: none;
  color: rgba(128, 128, 128, 0.589);
}

#comic {
  width: 100%;
  height: auto;
  margin: 50px auto;
}

#comic p {
  width: 60%;
  text-align: left;
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.589);
  margin: 0 auto;
}

#comic h4 {
  font-size: 2rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

#comic ul {
  width: 50%;
  margin: 0 auto;
}

#comic ul li {
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  font-weight: bold;
  padding: 10px 0;
  list-style-type: none;
  color: rgba(128, 128, 128, 0.589);
}

#skill h1 {
  text-align: center;
  font-family: "Garamond", sans-serif;
  font-size: 5rem;
  -webkit-text-decoration: underline solid rgba(128, 128, 128, 0.171);
          text-decoration: underline solid rgba(128, 128, 128, 0.171);
}

#programming {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 100px;
}

#programming h2 {
  font-size: 3rem;
  font-family: 游ゴシック, sans-serif;
  margin: 0 auto;
  padding: 50px 0 20px 0;
}

#programming p {
  font-size: 1.5rem;
  font-family: 游ゴシック, sans-serif;
  padding: 30px 0;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.589);
}

#programming h3 {
  font-size: 2rem;
  font-family: 游ゴシック, sans-serif;
  padding: 30px 0;
  font-weight: bold;
  color: black;
}

#programming .swiper-container {
  width: 100%;
  height: 200px;
}

#programming .swiper-container img {
  width: 20%;
  margin-top: 20px;
}

#programming #language #html,
#programming #language #css,
#programming #language #javascript {
  border: 3px solid rgba(0, 0, 0, 0.021);
  width: 50%;
  margin: 30px auto;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
}

#programming #language #html img,
#programming #language #css img,
#programming #language #javascript img {
  width: 20%;
  height: auto;
  margin-top: 20px;
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 100;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 3rem;
}

.scroll-top:hover {
  cursor: pointer;
}

footer {
  background-color: gray;
  color: white;
  width: auto;
  height: 40px;
  text-align: center;
}

footer #copylight {
  padding-top: 8px;
}

@media screen and (min-width: 560px) {
  #home {
    position: absolute;
    top: 10px;
    left: 16px;
  }
  .pc-menu {
    display: block;
  }
  .pc-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
  }
  .pc-menu ul li {
    list-style: none;
    margin-right: 90px;
    font-size: 1.3rem;
  }
  .phone-menu {
    display: none;
  }
  .over-content {
    display: none;
  }
  #about {
    padding: 200px 0;
  }
  #person p {
    text-align: center;
  }
  #attention {
    text-align: center;
  }
  #game p {
    text-align: center;
  }
  #comic p {
    text-align: center;
  }
  #programming h3 {
    padding-top: 100px;
  }
  #programming .swiper-container {
    width: 100%;
    height: 300px;
  }
  #programming .swiper-container img {
    width: 20%;
    margin-top: 20px;
  }
  #programming #language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #programming #language #html,
  #programming #language #css,
  #programming #language #javascript {
    width: 20%;
    margin: 30px auto;
  }
  #programming #language #html img,
  #programming #language #css img,
  #programming #language #javascript img {
    width: 30%;
  }
}

@media screen and (min-width: 960px) {
  #about {
    padding: 300px 0;
  }
  #person p {
    width: 80%;
  }
  #comic p {
    width: 80%;
  }
  #programming .swiper-container {
    width: 100%;
    height: 350px;
  }
  #programming .swiper-container img {
    width: 20%;
    margin-top: 20px;
  }
  #programming #language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 40px;
  }
  #programming #language #html,
  #programming #language #css,
  #programming #language #javascript {
    width: 20%;
    margin: 20px auto;
  }
}
/*# sourceMappingURL=about.css.map */