@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

header {
  color: white;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
}

header .home {
  font-size: 3.8rem;
  margin: 0 auto;
}

.phone-menu {
  position: absolute;
  top: -5px;
  right: 16px;
}

.phone-menu #open {
  font-size: 3.2rem;
  line-height: 64px;
  cursor: pointer;
}

.phone-menu #open.hide {
  display: none;
}

.over-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.76);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.over-content.show {
  opacity: 1;
  pointer-events: auto;
}

.over-content.show li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.over-content #close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 3.2rem;
  cursor: pointer;
}

.over-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.over-content ul li {
  margin-top: 24px;
  font-size: 3rem;
  font-family: 'arial';
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.over-content ul li:hover {
  opacity: 0.5;
}

.pc-menu {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* メイン */
.slide {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: black;
  border: 1px solid #7a7a7a;
}

.slide img {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide img::before {
  display: block;
  content: '';
  padding: 50%;
}

#about {
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 100px;
}

#about h1 {
  font-size: 3rem;
  font-family: 'arial';
  margin: 10% auto;
}

#about p {
  font-size: 1.5rem;
  font-family: 'arial';
  padding-top: 50px;
  padding-bottom: 100px;
}

#about #identity {
  display: none;
}

#works {
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 100px;
}

#works h1 {
  font-size: 3rem;
  font-family: 'arial';
  margin: 10% auto;
}

#works p {
  font-size: 1.5rem;
  font-family: 'arial';
  padding-top: 50px;
  padding-bottom: 100px;
}

#works #product {
  display: none;
}

address {
  background-color: #cab6b6;
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 100px;
}

address h1 {
  font-size: 3rem;
  font-family: 'arial';
  margin: 10% auto;
  position: relative;
}

address h1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

address h1 .letter {
  display: inline-block;
  line-height: 1em;
}

address p {
  font-size: 1.5rem;
  font-family: 'arial';
  padding-top: 50px;
  padding-bottom: 100px;
}

address #mail {
  display: none;
}

/* フッター */
footer {
  background-color: gray;
  color: white;
  width: auto;
  height: 40px;
  text-align: center;
}

footer #copylight {
  padding-top: 8px;
}

@media screen and (min-width: 560px) {
  #home {
    position: absolute;
    top: 10px;
    left: 16px;
  }
  .pc-menu {
    display: block;
  }
  .pc-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
  }
  .pc-menu li {
    list-style: none;
    padding-right: 90px;
    font-size: 1.3rem;
  }
  .pc-menu li:hover {
    opacity: 0.5;
  }
  .phone-menu {
    display: none;
  }
  .over-content {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  #about #identity {
    display: block;
    font-size: 15rem;
  }
  #works {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  #works #product {
    display: block;
    font-size: 15rem;
  }
  address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  address #mail {
    display: block;
    font-size: 15rem;
  }
}
/*# sourceMappingURL=home.css.map */