@charset "UTF-8";
header {
  color: white;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
}

header .home {
  font-size: 3.8rem;
  margin: 0 auto;
}

.phone-menu {
  position: absolute;
  top: -5px;
  right: 16px;
}

.phone-menu #open {
  font-size: 3.2rem;
  line-height: 64px;
  cursor: pointer;
}

.phone-menu #open.hide {
  display: none;
}

.over-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.788);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
}

.over-content.show {
  opacity: 1;
  pointer-events: auto;
}

.over-content.show li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.over-content #close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 3.2rem;
  cursor: pointer;
}

.over-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.over-content ul li {
  margin-top: 24px;
  font-size: 3rem;
  font-family: "arial", sans-serif;
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.pc-menu {
  display: none;
}

/* フッター */
footer {
  background-color: gray;
  color: white;
  width: auto;
  height: 40px;
  text-align: center;
}

footer #copylight {
  padding-top: 8px;
}

@media screen and (min-width: 560px) {
  #home {
    position: absolute;
    top: 10px;
    left: 16px;
  }
  .pc-menu {
    display: block;
  }
  .pc-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
  }
  .pc-menu li {
    list-style: none;
    padding-right: 90px;
    font-size: 1.3rem;
  }
  .phone-menu {
    display: none;
  }
  .over-content {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#works {
  color: white;
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0;
}

#works #look {
  font-size: 3rem;
  font-family: 'arial';
  margin: 50px auto;
  position: relative;
}

#works #look .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

#works #look .letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

#works p {
  font-size: 1.5rem;
  font-family: 'arial';
  padding: 50px 0;
}

#unfinished {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 200px 0;
}

#unfinished #uc {
  color: white;
  font-size: 2.5rem;
  font-family: 'Garamond';
  text-transform: uppercase;
}

#unfinished #uc .letter {
  display: inline-block;
  line-height: 1em;
}

@media screen and (min-width: 560px) {
  #works {
    padding: 200px 0;
  }
}

@media screen and (min-width: 960px) {
  #works {
    padding: 300px 0;
  }
  #unfinished p {
    font-size: 5rem;
    margin-bottom: 400px;
  }
}
/*# sourceMappingURL=works.css.map */