$Gray:  rgba(128, 128, 128, 0.589);
$Black: black;
$UnderLineColor: rgba(128, 128, 128, 0.171);
$Gothic: 游ゴシック;
$FontWeight: bold;

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

header {
  color: rgb(255, 255, 255);
  background: black;
  display: flex;
  padding: 0 16px;

  .home {
    font-size: 3.8rem;
    margin: 0 auto;
  }
  
}

.phone-menu {
  position: absolute;
  top: -5px;
  right: 16px;

  #open {
    font-size: 3.2rem;
    line-height: 64px;
    cursor: pointer;

    &.hide {
      display: none;
    }
  }
}



.over-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.76);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  
  &.show {
    opacity: 1;
    pointer-events: auto;

    li{
      opacity: 1;
      transform: none;
    }
  }
  
  #close {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 3.2rem;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-top: 24px;
      font-size: 3rem;
      font-family: 'arial';
      opacity: 0;
      transform: translateY(16px);
      transition: opacity 0.5s, transform 0.5s;
    }
  }
}




.pc-menu {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}


#about {
  color: $Black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0;

  h1 {
    font-size: 3rem;
    font-family: 'arial';
    margin: 50px auto;
    position: relative;

    .letters {
      position: absolute;
      margin: auto;
      left: 50px;
      top: -10px;
      right: 50px;
      opacity: 0; 
    }
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'arial';
    padding: 50px 0;
  }
}


#who {

  h1 {
    text-align: center;
    font-family: 'Garamond';
    font-size: 5rem;
    text-decoration: underline solid $UnderLineColor;

  }
}

#person {
  color: $Black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 3rem;
    font-family: $Gothic;
    margin: 50px auto;
  }
  
  p {
    width: 60%;
    height: auto;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    color: $Gray;
    text-align: left;
  }
}


#hobby {
  color: $Black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 300px 0;

  h1 {
    font-family: 'Garamond';
    font-size: 5rem;
    text-decoration: underline solid $UnderLineColor;
  }
  
  h2 {
    font-size: 3rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    margin: 100px auto 0 auto;
  }
  
  h3 {
    font-size: 2.5rem;
    font-family: $Gothic;
    margin: 0 auto;
    padding: 100px 0 30px 0;
  }
}

#tabletennis {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: $Gothic;
  font-weight: $FontWeight;

  p {
    color: $Gray;
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.5rem;
    list-style: none;
    margin: 40px 0;
    font-family: $Gothic;
    font-weight: $FontWeight;
    color: $Gray;
  }
}


#grades {
  font-family: $Gothic;
  font-weight: $FontWeight;
  width: 60%;
  margin: 0 auto;

  h4 {
    font-size: 2rem;
    margin: 50px 0 20px 0;
  }
  
  li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $Gray;
  }
  
  .best {
    text-decoration: underline solid rgb(65, 141, 204);
  }
}


#attention {
  width: 60%;
  height: auto;
  margin: 40px auto;
  text-align: left;
}

#game {
  color: $Black;
  width: 100%;
  height: auto;

  p {
    width: 60%;
    font-size: 1.5rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    color: $Gray;
    text-align: left;
    margin: 0 auto;
  }
  
  h4 {
    font-size: 2rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    margin: 50px 0 20px 0;
  }
  
  li {
    font-size: 1.5rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    padding: 10px 0;
    list-style: none;
    color: $Gray;
  }
}


#comic {
  width: 100%;
  height: auto;
  margin: 50px auto;

  p {
    width: 60%;
    text-align: left;
    font-size: 1.5rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    color: $Gray;
    margin: 0 auto;
  }
  
  h4 {
    font-size: 2rem;
    font-family: $Gothic;
    font-weight: $FontWeight;
    margin: 50px 0 20px 0;
  }
  
  ul {
    width: 50%;
    margin: 0 auto;

    li {
      font-size: 1.5rem;
      font-family: $Gothic;
      font-weight: $FontWeight;
      padding: 10px 0;
      list-style-type: none;
      color: $Gray;
      }
  }
  
}


#skill h1 {
  text-align: center;
  font-family: 'Garamond';
  font-size: 5rem;
  text-decoration: underline solid $UnderLineColor;
}

#programming {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 100px;

  h2{
    font-size: 3rem;
    font-family: $Gothic;
    margin: 0 auto;
    padding: 50px 0 20px 0;
  }
  
  p {
    font-size: 1.5rem;
    font-family: $Gothic;
    padding: 30px 0;
    font-weight: $FontWeight;
    color: $Gray;
  }
  
  h3 {
    font-size: 2rem;
    font-family: $Gothic;
    padding: 30px 0;
    font-weight: $FontWeight;
    color: $Black;
  }

  .swiper-container {
    width: 100%;
    height: 200px;
  
    img {
      width: 20%;
      margin-top: 20px;
    }
  }
  
  #language {
  
    #html,
    #css,
    #javascript {
      border: 3px solid rgba(0, 0, 0, 0.021);
      width: 50%;
      margin: 30px auto;
      border-radius: 10px;
      background-color: white;
      box-shadow: 
      0 1.9px 2.5px rgba(0, 0, 0, 0.057),
      0 5px 6.1px rgba(0, 0, 0, 0.076),
      0 10.1px 11.4px rgba(0, 0, 0, 0.086),
      0 19.2px 19.8px rgba(0, 0, 0, 0.092),
      0 38.4px 34.8px rgba(0, 0, 0, 0.1),
      0 101px 74px rgba(0, 0, 0, 0.13);;
  
      img {
      width: 20%;
      height: auto;
      margin-top: 20px;
      }
    }
  }
}



.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 100;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 3rem;

  &:hover {
    cursor: pointer;
  }
}

footer {
  background-color: gray;
  color: white;
  width: auto;
  height: 40px;
  text-align: center;

  #copylight {
    padding-top: 8px;
  }
}




@media screen and (min-width: 560px) {
  #home {
    position: absolute;
    top: 10px;
    left: 16px;
  }

  .pc-menu {
    display: block;

    ul {
      display: flex;
      margin: 15px;

      li {
        list-style: none;
        margin-right: 90px;
        font-size: 1.3rem;
      }
    }
  
  }


  .phone-menu {
    display: none;
  }

  .over-content {
    display: none;
  }

  #about {
    padding: 200px 0;
  }

  #person {
    p {
      text-align: center;
    }

  }

  #attention {
    text-align: center;
  }

  #game {
    p {
    text-align: center;
    }
  }

  #comic {
    p {
    text-align: center;
    }
  }



  #programming {
    h3 {
      padding-top: 100px;
    }
    .swiper-container {
      width: 100%;
      height: 300px;
    
      img {
        width: 20%;
        margin-top: 20px;
      }
    }

    #language {
      display: flex;

      #html,
      #css,
      #javascript {
        width: 20%;
        margin: 30px auto;
        img {
          width: 30%;
        }
      }
    }

  }
    

  
}

@media screen and (min-width: 960px) {
  #about {
    padding: 300px 0;
  }

  #person {
    p {
    width: 80%;
    }
  }

  #comic {
    p {
    width: 80%;
    }
  }

  #programming {
    .swiper-container {
      width: 100%;
      height: 350px;
    
      img {
        width: 20%;
        margin-top: 20px;
      }
    }
  
    #language {
      display: flex;
      margin: 40px;
  
      #html,
      #css,
      #javascript {
        width: 20%;
        margin: 20px auto;
      }
    }
  }

}