@import "_menu_footer";
html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  background-color: rgb(202, 182, 182);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}


#contact {
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0;

  #me {
    font-size: 2.5rem;
    font-family: 'arial';
    margin: 50px auto;
    text-transform: uppercase;

    .letter {
      display: inline-block;
      line-height: 1em;
    }
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'arial';
    padding: 50px 0;
  }
}


#account {
  font-size: 5rem;
  font-family: 'Garamond';
  text-align: center;
  text-decoration: underline solid rgba(114, 114, 114, 0.37);
}

#sns {
  width: 100%;
  height: auto;
  text-align: center;

  img {
    width: 30%;
    height: auto;
    margin: 0 auto;
  }
  
  p {
    font-size: 2rem;
    font-family: 游ゴシック;
    font-weight: bold;
  }

  #twitter,
  #instagram,
  #g-mail,
  #github {
    width: 100%;
    height: auto;
    margin: 100px auto;
  }
}

@media screen and (min-width: 560px) {  
  #contact {
    padding: 200px 0;
  }
  
  #sns img {
    width: 20%;
  }
  
  .over-content {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #contact {
    padding: 300px 0;
  }

  #sns {
    margin-bottom: 250px;
    display: flex;
    justify-content: space-around;
  }

}