@import "menu_footer";
$FfArial: 'arial', sans-serif;

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

// header {
//   color: rgb(255, 255, 255);
//   background: black;
//   display: flex;
//   padding: 0 16px;

//   .home {
//     font-size: 3.8rem;
//     margin: 0 auto;
//   }
// }



// .phone-menu {
//   position: absolute;
//   top: -5px;
//   right: 16px;

//   #open {
//     font-size: 3.2rem;
//     line-height: 64px;
//     cursor: pointer;

//     &.hide {
//       display: none;
//     }
//   }

// }



// .over-content {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.788);
//   text-align: center;
//   padding: 64px;
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity 0.5s;
//   color: white;

//   &.show {
//     opacity: 1;
//     pointer-events: auto;

//     li{
//       opacity: 1;
//       transform: none;
//     }
//   }
//   #close {
//     position: absolute;
//     top: 10px;
//     right: 16px;
//     font-size: 3.2rem;
//     cursor: pointer;
//   }

//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;

//     li {
//       margin-top: 24px;
//       font-size: 3rem;
//       font-family: $FfArial;
//       opacity: 0;
//       transform: translateY(16px);
//       transition: opacity 0.5s, transform 0.5s;
//     }
//   }
  
// }

// .pc-menu {
//   display: none;
// }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

/* メイン */
#about {
  color: black;
  width: 90%;
  height: auto;
  margin: 50px auto 100px auto;
  text-align: center;
  background-color: rgb(240, 238, 238);
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.555);
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #identity {
    display: none;
  }
}


#works {
  background-color: black;
  color: white;
  width: 90%;
  height: auto;
  margin: 100px auto;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.555);
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #product {
    display: none;
  }
}


address {
  background-color: rgb(202, 182, 182);
  color:rgb(0, 0, 0);
  width: 90%;
  height: auto;
  margin: 100px auto;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.555);
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
    position: relative;

    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
    }

    .letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #mail {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #about {
    display: flex;
    justify-content: space-around;
    padding: 200px 0px;
  
      #identity {
        display: block;
        font-size: 15rem;
      }

  }

  #works {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 200px 0px;
  
      #product {
        display: block;
        font-size: 15rem;
      }
  }

  address {
    display: flex;
    justify-content: space-around;
    padding: 200px 0px;

      #mail {
        display: block;
        font-size: 15rem;
      }
  }

}