@import "menu_footer";
$FfArial: 'arial', sans-serif;
$cBlue: blue;
$Shadow: rgba(0, 0, 0, 0.938);

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

/* メイン */
#about {
  color: black;
  width: 90%;
  height: auto;
  margin: 50px auto 100px auto;
  text-align: center;
  background-color: rgb(240, 238, 238);
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px $Shadow;
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid black;
    z-index: 1;

    &.slide-bg {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        color: black;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: -1;
      }
      &:hover {
        color: white;
  
       &::before {
        transform: none;
       }
      }

    }
  }

  #identity {
    display: none;
  }
}


#works {
  background-color: black;
  color: white;
  width: 90%;
  height: auto;
  margin: 100px auto;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px $Shadow;
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    border: 1px solid white;
    z-index: 1;

    &.slide-bg {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: -1;
      }
      &:hover {
        color: black;
  
       &::before {
        transform: none;
       }
      }

    }
  }

  #product {
    display: none;
  }
}


address {
  background-color: rgb(202, 182, 182);
  color:rgb(0, 0, 0);
  width: 90%;
  height: auto;
  margin: 100px auto;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;

  &:hover {
    transform: translate(-5px, -5px);
    transition: all 0.5s;
    box-shadow: 0 8px 40px -10px $Shadow;
  }

  h1 {
    font-size: 3rem;
    font-family: $FfArial;
    margin: 10% auto;
    position: relative;

    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
    }

    .letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  p {
    font-size: 1.5rem;
    font-family: $FfArial;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid black;
    z-index: 1;

    &.slide-bg {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgba(82, 52, 43, 0.582);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: -1;
      }
      &:hover {
        color: black;
  
       &::before {
        transform: none;
       }
      }

    }
  }

  #mail {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #about {
    display: flex;
    justify-content: space-around;
    padding: 200px 0px;
  
      #identity {
        display: block;
        font-size: 15rem;
      }

  }

  #works {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 200px 0px;
  
      #product {
        display: block;
        font-size: 15rem;
      }
  }

  address {
    display: flex;
    justify-content: space-around;
    padding: 200px 0px;

      #mail {
        display: block;
        font-size: 15rem;
      }
  }

}