@import "_menu_footer";
html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}


#works {
  color: white;
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0;

  #look {
    font-size: 3rem;
    font-family: 'arial';
    margin: 50px auto;
    position: relative;

    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
    }

    .letter {
      transform-origin: 50% 100%;
      display: inline-block;
      line-height: 1em;
    }
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'arial';
    padding: 50px 0;
  }
}


#unfinished {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 200px 0;

  #uc {
    color: white;
    font-size: 2.5rem;
    font-family: 'Garamond';
    text-transform: uppercase;
  
    .letter {
      display: inline-block;
      line-height: 1em;
    }
  }
}

@media screen and (min-width: 560px) {
  #works {
    padding: 200px 0;
  }

}

@media screen and (min-width: 960px) {
  #works {
    padding: 300px 0;
  }

  #unfinished {
    p {
    font-size: 5rem;
    margin-bottom: 400px;
    }
  }

}